<h1>Stylist List</h1>

<h2>Edit stylist: @Model.GetName()</h2>
<form action="/stylist/edit/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input name="stylist-id" type="hidden" value="@Model.GetId()">
  <label for="stylist">Stylist's name</label>
  <input id="stylist" name="stylist" type="text">
  <button type="submit">Submit</button>
</form>
<h4><a href="/">Return home</a></h4>
